@import "tailwindcss";

body { height: 100vh }

a { display: inline-block }

input { outline: none; text-align: center }

.position {
    position: absolute;
    font-weight: 400;
    z-index: 1000;
    font-size: 1rem;
    bottom: 1rem;
    left: 20%;
    transform: translateX(-50%);
    background-color: #009933;
    color: black;
    box-shadow: 0 0.4rem 1.2rem rgba(36, 42, 46, 0.16);
    padding-inline: 1rem;
    border-radius: 6px;
    cursor: pointer;
}

.active { 
    background-color: black;
    padding-inline: 0.5rem;
    transform: scale(0.9);
    border-radius: 5px;
}

.active-btn { 
    background-color: #009933;
    color: black;
    padding-inline: 0.4rem;
    padding-block: 0.2rem;
    border-radius: 4px;
    font-weight: bold;
    cursor: pointer;
}



.leaflet-popup-content {
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.city-active {
    border: 1px solid #ffb31a;
}

.form-disabled { opacity: 0.3 }

.login { 
    position: absolute;
    top: 10px;
    right: 40px;
    background-color: #1a1a1a;
    padding-inline: 0.5rem;
    padding-block: 1rem;
    color: white;
    z-index: 1000;
    border-radius: 4px;
}